<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Activity Page</title>
	<link rel ="stylesheet" href = "aStyle.css">
</head>
<body>
<div><a href=""><img src="" width="100px" height="100px" alt="">Home</a></div>
<form class ="dForm" action="/" method="post">
	<div class="title">
		<input name = "title" type="text" th:value="${act.getTitle()}" th:disabled ="${act.getStatus() != 'DONE'}">
	</div>
	<div class ="status">
		<p th:text ="${act.getStatus()}">Placeholder things</p>
	</div>
	<div class="description">
		<textarea name="description" th:value="${act.getDescription()}" th:disabled ="${act.getStatus() != 'DONE'}"></textarea>
	</div>
	<div class ="update">
	<select name ="status" th:if ="${act.getStatus() != 'DONE'}">
		<option value="INPROGRESS">In Progress</option>
		<option value="PENDING">Pending</option>
	</select>
	<button th:disabled ="${act.getStatus() == 'DONE'}">Update</button>
	</div>
</form>
</body>
</html>